<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<h1 th:text="${headerMessage}"></h1>
    <form action="/testFormPost" method="post">
        <p>
            Student's Name : <input type="text" name="firstName" />
        </p>
        <p>
            Student's Hobby : <input type="text" name="lastName" />
        </p>
        <input type="submit" value="Submit your form by clicking here!" />
    </form>
</body>
</html>